* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: #0f0f0f;
    height: 90px;
    display: flex;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
}

/* logo styles css here*/
.logo {
    width: 25%;
}

.logo-img {
    height: 75px;
    border-radius: 9999px;
}

/* menu styles css start here */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    color: white;
    
}

.menu-list li {
    cursor: pointer;
    padding-left: 20px;
}

.menu-list li:hover {
    color: #6b7280;
}

/* socal icon start here*/
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    font-size: 1.875rem;
    margin-left: 30px;
    

}

.social-list {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: center;
}

    
.social-icon li{padding-left: 30px;}

    
/* Bars icon  css start here*/
.bars {
    font-size: 1.875rem;
    padding: 8px;
    display: none;
}

.bars i {
    color: white;
}

/* media query for screens  below 850px*/
@media only screen and (max-width: 850px) {
    .menu {
        background-color: #212121;
        display: none;
        height: 500px;
        width: 100%;
        position: absolute;
        top: 89px;
        right: 0;
        z-index: 200;
      
    }
    .menu.show{display: block;}

    .menu-list {
        flex-direction: column;
    }
    .menu-list li{border-bottom: 1px solid gray ; width: 100%;text-align: center;padding: 12px;}
    /* Ensure social icons remain in a row even on small screens */
    .social-icon {
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
        margin-left: 0;
       
    }

    .social-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    
    .social-icon li{padding-left: 20px;}

    

    .social-item {
        padding-left: 5px;
    }

    .bars{display: block;
    cursor:  pointer;
    }

}
